body {
	width: 90%;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
}

input[type=submit] {
	width: 100%;
}

input[type=radio][disabled],
input[type=checkbox][disabled],
.unavailable,
.unavailable * { /* XXX: bad selector? */
	cursor: not-allowed;
}

.organization {
	text-shadow: 1px 1px 2px #CCC; /* XXX: tacky!? */
}

.unavailable {
	opacity: 0.5;
}

.vis-alt { /* XXX: awkward name */
	display: none;
}

/* basic */

.cabin {
	width: 30em; /* corresponds to seats per row + aisle + padding */
	border-radius: 14em; /* corresponds to seats per row + aisle */
	padding: 14em 0; /* compensate for border radius */
	background-color: #FAFAFA;
}

.seats,
.row {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.seats {
	padding: 0 1em;
}

.row {
	overflow: visible; /* avoids clipping and scrolling on focus-scaled seat */
}

.row li {
	float: left;
	width: 4em;
	height: 4em;
	line-height: 4em;
	text-align: center;
}

.row li:nth-child(6n+4) { /* aisle */
	margin-left: 4em;
}

.row label { /* fill container */
	display: block;
	width: 100%;
	height: 100%;
}

/* augemented */

.seats.augmented .unavailable {
	opacity: 1; /* neutralizes basic version -- XXX: hacky */
}

.seats.augmented .row li.focused {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.seats.augmented .row li {
	margin-bottom: 1em; /* legroom */
	background-image: url(seat_unoccupied.svg);
	background-size: cover;
}

.seats.augmented .row li:not(.unavailable) {
	cursor: pointer;
}

.seats.augmented .row li.selected {
	background-image: url(seat_selected.svg);
}

.seats.augmented .row li.occupied {
	background-image: url(seat_occupied.svg);
}

.seats.augmented .row li.vip { /* XXX: crude */
	margin-bottom: 2em; /* extra legroom */
	background-color: #FFD700;
	opacity: 0.5;
}

.seats.augmented label {
	margin-left: -999em;
}

/* dev controls */

.debug {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
	text-align: right;
}

.debug a {
	display: block;
}
