<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	{% if includeCSS %}
	<link rel="stylesheet" href="/assets/main.css">
	{% endif %}
</head>

<body>
	<h1>{{ title }}</h1>
	{% block body %}{% endblock %}

	{% if devLinks %}
	<div class="debug">
		{% for link in devLinks %}
		<a href="{{ link.uri }}" title="{{ link.desc }}">{{ link.label }}</a>
		{% endfor %}
	</div>
	{% endif %}

	<footer>
		<p>
			<i class="organization">ROCAir</i> is a simple demo application
			demonstrating the
			<a href="https://github.com/innoq/rocair#readme">benefits</a> of
			<a href="https://www.gov.uk/service-manual/making-software/progressive-enhancement">
				progressive enhancement
			</a>
			for both end users and developers
		</p>
		<p>
			created by <a href="https://www.innoq.com">innoQ</a>, though based
			on the collective wisdom of web advocates across the globe
		</p>
	</footer>

	{% if includeJS %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="/assets/fancy_controls.js"></script>
	<script src="/assets/main.js"></script>
	{% endif %}
</body>

</html>
