{% extends "layout.html" %}

{% block body %}
<p>
	Thank you for flying <i class="organization">ROCAir</i>. Web check-in for
	flight <i>{{ flightID }}</i> is now available - please select your seat
	below.
</p>

<p class="vis-alt">
	Rows are numbered from nose to tail. A and F are window, C and D aisle
	seats. A-C are on the left, D-F on the right.
</p>

<form>
	<ul class="seats">
		<li>
			<label>
				<input type="radio" name="seat" value="7C">
				7C
			</label>
		</li>
		<li class="unavailable occupied">
			<label>
				<input type="radio" name="seat" value="7D" disabled>
				7D
			</label>
		</li>
		<li class="unavailable vip">
			<label title="occupied">
				<input type="radio" name="seat" value="7E" disabled>
				7E
			</label>
		</li>
		<li class="selected">
			<label>
				<input type="radio" name="seat" value="7F" checked>
				7F
			</label>
		</li>
	</ul>
</form>
{% endblock %}
