{% extends "layout.html" %}

{# optional attribute; only rendered if value is truthy #}
{% macro optAttr(name, value) %}{%
	if value %}{{ name }}="{{ value }}"{% endif
%}{% endmacro %}

{% block body %}
<p>
	Thank you for flying <i class="organization">ROCAir</i>. Web check-in for
	flight <i>{{ flightID }}</i> is now available - please select your seat
	below.
</p>

<p class="vis-alt">
	Rows are numbered from nose to tail. A and F are window, C and D aisle
	seats. A-C are on the left, D-F on the right.
</p>

<form action="{{ checkInURI }}" method="post" class="cabin">
	<ul class="rows">
		{% for row in seats %}
		<li>
			<ul class="seats">
				{% for seat in row %}
				<li {{ optAttr("class", seat.class()) }} {{
						optAttr("title", seat.desc) }}>
					<label>
						<input type="radio" name="seat" value="{{ seat.id }}" {{
								optAttr("disabled", seat.unavailable()) }} {{
								optAttr("checked", seat.selected) }}>
						{{ seat.label() }}
					</label>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	<input type="submit" value="confirm selection">
</form>
{% endblock %}
